.box {
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 2px solid white;
    padding: 2px solid white;
    margin: 5px;
}
.box-container {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
    .box {
        background-color: red;
    }
}