.numdiv {
    background-color: cornflowerblue;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    font-size: 90px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 20px;
    margin-right: 20px;

    
    
}

.button {
    display: block;
}