* {
    box-sizing: border-box; 
    font-size: 0px;
}
.first-box {
    background-color: #F5C6D6;
    width: 1200px;
    height: 200px;
    border: 10px solid white;

}
.line {
    float: left;
}
.pink {
    background-color: #EE2E84;
    width: 300px;
    height: 200px;
    border: 10px solid white;
}
.blue {
    background-color: #85CFD8;
    width: 600px;
    height: 200px;
    border: 10px solid white;
}
.second-box {
    background-color: #8DC63F;
    width: 900px;
    height: 200px;
    float: left;
    border: 10px solid white;
}
.third-box {
    background-color: #E76E34;
    width: 300px;
    height: 200px;
    float: left;
    border: 10px solid white;
}

@media only screen and (max-width: 768px) {
    .box {
        width: 100%;
        float: none;
    }
        
}