.first-color {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #002495;
    width: 200px;
    height: 400px;
}
.second-color {
    position: absolute;
    left: 200px;
    top:0px;
    background-color:#FFFFFF;
    width: 200px;
    height: 400px;
}
.third-color {
    position: absolute;
    left: 400px;
    top: 0px;
    background-color: #ED2938;
    width: 200px;
    height: 400px;
}

.g-first-color {
    position: absolute;
    top: 1000px;
    left: 0px;
    background-color: #000000;
    width: 1500px;
    height: 333px;
}

.g-second-color {
    position: absolute;
    top: 1333px;
    left: 0px;
    background-color: #DE0002;
    width: 1500px;
    height: 333px;
}
.g-third-color {
    position: absolute;
    top: 1666px;
    left: 0px;
    background-color: #FFCE00;
    width: 1500px;
    height: 333px;
}
.m-first-color {
    position: absolute;
    top: 2000px;
    left: 0px;
    background-color: #FFFFFF;
    width: 30px;
    height:120px;
}
.m-second-color {
    position: absolute;
    top: 2000px;
    left: 30px;
    background-color: #FC3E32;
    width: 60px;
    height: 30px;
}
.m-third-color {
    position: absolute;
    top: 2030px;
    left: 30px;
    background-color: #007E39;
    width: 60px;
    height: 30px;
}
.sz-first-color {
    position: absolute;
    top: 2080px;
    left: 0px;
    background-color: #FF0002;
    width: 200px;
    height: 200px;
}
.sz-second-color {
    position: absolute;
    top: 2160px;
    left: 50px;
    background-color: #FFFFFF;
    width: 100px;
    height: 40px;
}
.sz-third-color {
    position: absolute;
    top: 2130px;
    left: 80px;
    background-color: #FFFFFF;
    width: 40px;
    height: 100px;
}
.sw-first-color {
    position: absolute;
    top: 2300px;
    left: 0px;
    background-color: #0269A6;
    width: 320px;
    height: 200px;
}
.sw-second-color {
    position: absolute;
    top: 2300px;
    left: 80px;
    background-color: #FECC00;
    width: 40px;
    height: 200px;
}
.sw-third-color {
    position: absolute;
    top: 2380px;
    left: 0px;
    background-color: #FECC00;
    width: 320px;
    height: 40px;
}
.ga-background {
    position: absolute;
    top:2500px;
    left: 0px;
    background-color: black;
    width: 300px;
    height: 200px;
}
.ga-first-color {
    position: absolute;
    top: 2500px;
    left: 0px;
    background-color: #CE1127;
    width: 300px;
    height: 50px;
}
.ga-second-color {
    position: absolute;
    top: 2540px;
    left: 0px;
    background-color: #FFFFFF;
    width: 300px;
    height: 30px;
}
.ga-third-color {
    position: absolute;
    top: 2570px;
    left: 0px;
    background-color: #0D1D8B;
    width: 300px;
    height: 50px;
}
.ga-fourth-color {
    position: absolute;
    top: 2620px;
    left: 0px;
    background-color: #FFFFFF;
    width: 300px;
    height: 30px;
}
.ga-fifth-color {
    position: absolute;
    top: 2650px;
    left: 0px;
    background-color: #3B7827;
    width: 300px;
    height:50px
}
.j-first-color {
    position: absolute;
    left: 0px;
    top: 2700px;
    background-color: #FFFFFF;
    width: 300px;
    height: 200px;
    border-style: solid;
}
.j-second-color {
    position: absolute;
    top: 2750px;
    left: 100px;
    background-color: #BC022C;
    border-radius:50%;
    width: 110px;
    height: 110px;
}
.n-background{
    position: absolute;
    top:2900px;
    left: 0px;
    background-color: black;
    width: 700px;
    height: 600px;
}
.n-first-color {
    position: absolute;
    top: 2900px;
    left: 0px;
    background-color: #E15307;
    width: 700px;
    height: 200px;
}
.n-second-color {
    position: absolute;
    top: 3100px;
    left: 0px;
    background-color: #FFFFFF;
    width: 700px;
    height: 200px;
}
.n-third-color {
    position: absolute;
    top: 3300px;
    left: 0px;
    background-color: #10AF2A;
    width: 700px;
    height: 200px;
}
.n-fourth-color {
    position: absolute;
    top: 3125px;
    left: 250px;
    background-color: #E15307;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}